# Template TypeScript Kata with Vitest

This is a basic template to make a kata using [TypeScript](https://www.typescriptlang.org/) and [Vitest](https://vitest.dev/).

## Prerequisites

- [Node](https://nodejs.org/) LTS

## Installation

```shell
npm install
```

## Tests

Create a test file in the `src` directory (example: `FizzBuzz.spec.ts`) add a test and run:

To watch tests:

```shell
npm test
```

## Tools/Plugins

- [Mob.sh](https://mob.sh/) - For remote pair/mob programming
- [Git Gamble](https://git-gamble.is-cool.dev/) - To develop baby step by baby step
